@import url('https://fonts.googleapis.com/css?family=Fira+Mono:400');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


.mainclass{
    z-index: 991;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgba(0,0,0,.35);
}

.name{
    position: relative;
    user-select: none;
    pointer-events: all;
    min-width: 80px;
    padding: 1px 5px;
    margin: 4px;
    color: #ddd; 
    font-size: 12px;
    font-family: 'Fira Mono', monospace;
    animation: glitch 1s linear infinite;
}

.blockmenu{
    position: relative;
    display: inline-block;
    font-size: 24px;
    letter-spacing: 10px;
    cursor: pointer;
    text-align: right;
    min-width: 150px;
    background: rgba(0,0,0,.35);
    color:#ddd;
    font-family: 'Fira Mono', monospace;
}

.blockmenu:hover{
  background-color: #888888;
}

.menu{
    padding-left: 10px;
}

.blockmenu:hover .menu {
  display: block;
}

body{ 
  background: black;
}

a{
  height: 100px;
  width: 200px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: rgb(124, 124, 124, 0.5);
  -webkit-text-stroke: 2px white;
  font-family: 'Russo One', sans-serif;;
}



@keyframes glitch{
  2%,64%{
    transform: translate(2px,0) skew(0deg);
  }
  4%,60%{
    transform: translate(-2px,0) skew(0deg);
  }
  62%{
    transform: translate(0,0) skew(5deg); 
  }
}

.name:before,
.name:after{
  content: attr(title);
  position: absolute;
  left: 0;
}

.name:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(2px,-2px);
  }
  4%,60%{
    transform: translate(-2px,2px);
  }
  62%{
    transform: translate(13px,-1px) skew(-13deg); 
  }
}

.name:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-2px,0);
  }
  4%,60%{
    transform: translate(-2px,0);
  }
  62%{
    transform: translate(-22px,5px) skew(21deg); 
  }
}

.flash-rectangle-left {
  position: absolute;
  top: 100px;
  left: 100px;
  width: 10px;
  height: 4px;
  background-color: rgb(255, 255, 255);
  animation: flash 1s infinite;
}

.flash-rectangle-right {
  position: absolute;
  top: 100px;
  right: 100px;
  width: 4px;
  height: 10px;
  background-color: rgb(255, 255, 255);
  animation: flash 1s infinite;
}

.flash-rectangle-horizontal{
  position: absolute;
  top: 100px;
  left: 100px;
  right: 100px;
  width: 400px;
  height: 1px;
  background-color: rgb(124, 124, 124);
  animation: flash 1s infinite;
}

@keyframes flash {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 0.6;
  }
}



.canvas {
  position: relative;
  top: 90px;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  background-image: radial-gradient(ellipse, rgb(64, 22, 143) 0%, rgb(32, 14, 96) 40%, rgb(10, 0, 34) 100%);
  perspective: 900px;
}

.cube{
  position: absolute;
  width: 300px;
  height: 300px;
  transform-origin: 50% 50% 150px;
  transform-style: preserve-3d;
  transition: all 0.5s ease-out;
  background-color: beige;
}

.cube .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cube .face:nth-child(1) {
  transform: translateZ(300px);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face:nth-child(2) {
  transform-origin: center right;
  transform: rotateY(90deg);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face:nth-child(3) {
  transform-origin: center center;
  transform: rotateY(180deg);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face:nth-child(4) {
  transform-origin: center left;
  transform: rotateY(-90deg);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face:nth-child(5) {
  transform-origin: top center;
  transform: rotateX(90deg);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face:nth-child(6) {
  transform-origin: bottom center;
  transform: rotateX(-90deg);
  background-color: rgb(95, 158, 160, 0.5);
}

.cube .face .text{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 50px;
  color: rgb(124, 124, 124, 0.5);
  -webkit-text-stroke: 2px white;
  font-family: 'Russo One', sans-serif;;
}

.cube .face .text:hover{
  animation: glitch 1s linear infinite;
}

.cube .face .text:before,
.cube .face .text:after{
  position: absolute;
  left: 0;
}

.cube .face .text:before{
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

@keyframes glitchTop{
  2%,64%{
    transform: translate(10px,-10px);
  }
  4%,60%{
    transform: translate(-10px,10px);
  }
  62%{
    transform: translate(26px,-5px) skew(-26deg); 
  }
}

.cube .face .text:after{
  animation: glitchBotom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBotom{
  2%,64%{
    transform: translate(-10px,0);
  }
  4%,60%{
    transform: translate(-10px,0);
  }
  62%{
    transform: translate(-44px,10px) skew(42deg); 
  }
}

